variables:
  CI_APPLICATION_REPOSITORY: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG
  CI_APPLICATION_TAG: $CI_COMMIT_SHA
  GIT_SUBMODULE_STRATEGY: recursive

stages:  
  - build
  - deploy

build:
  only:
    - main
  tags:
    - shell
  # Use the official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build -f ./Dockerfile -t $CI_APPLICATION_REPOSITORY:$CI_APPLICATION_TAG -t $CI_APPLICATION_REPOSITORY:latest .
    - docker push $CI_APPLICATION_REPOSITORY:$CI_APPLICATION_TAG
    - docker push $CI_APPLICATION_REPOSITORY:latest

deploy:
  only:
    - main
  tags:
    - shell
  # Use the official docker image.
  image: docker:latest
  stage: build
  script:
    - docker-compose -f ~/deploy/portfolio/docker-compose.yaml up -d --force-recreate

